* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial, sans-serif';
  background-color: #e0f8d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 80px;
}

.App-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  text-align: center;
  width: 100%;
}

.container h2 {
  padding-bottom: 10px;
}

.carrinhoLogo {
  width: 35px;
  height: auto;
  position: absolute;
  top: 5px;
  right: 10px;
}

.adminLogo {
  width: 38%;
  height: auto;
  position: absolute;
  top: -20px;
  left: -52px;
}

.catalogo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  margin-top: 130px;
  font-size: 30px;
}

.catalogo-item {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 90%;
  margin-left: 20px;
}

.catalogo-item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinha o conteúdo verticalmente ao centro */
}

.catalogo-item-buttons {
  display: flex;
  gap: 10px;
  align-items: center; /* Alinha verticalmente os botões */
}

.catalogo-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.catalogo-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 8px;
  position: relative;
}

.catalogo-item-content {
  flex-grow: 1;
}

.catalogo-item h3 {
  font-size: 1.2rem;
  color: #333;
  margin: 0 0 8px;
}

.catalogo-item p {
  font-size: 1rem;
  color: #555;
  margin: 0 0 12px;
}

.catalogo-item-buttons {
  display: flex;
  gap: 10px;
}

.catalogo-item button {
  background-color: #76c893;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.catalogo-item button:hover {
  background-color: #68b384;
}

/*div dos itens home*/

.catalogo-item-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 90%;
  margin-left: 20px;
  
}

.catalogo-item-home:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.catalogo-item-home img {
  width: 87px;
  height: 87px;
  object-fit: cover;
  border-radius: 8px;
  margin-left: 38px;
}

.catalogo-item-content {
  flex-grow: 1;
}

.catalogo-item-home h3 {
  font-size: 1.2rem;
  color: #333;
  margin: 0 0 8px;
}

.catalogo-item-home p {
  font-size: 1rem;
  color: #555;
  margin: 0 0 12px;
}

.catalogo-item-buttons {
  font-size: 1rem;
  color: #555;
  margin: 0 0 12px;
}

.catalogo-item-home button {
  background-color: #76c893;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.catalogo-item-home button:hover {
  background-color: #68b384;
}

.item-display value {}

.values-itens {
  margin-bottom: 20px;
}

.item-actions {
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #45a049;
}

.logo {
  width: 50%;
  height: auto;
  align-items: center;
  justify-items: center;
  margin-left: 25%;
  margin-top: -170px;
}

.title {
  font-size: 1.8em;
  color: #36522e;
  margin-bottom: 0.3em;
}

.subtitle {
  font-size: 1.3em;
  color: #36522e;
  margin-top: 0.3em;
}

.h3cata {
  margin-left: 27px;
}

.loginforms {
  width: 90%;
  max-width: 400px;
  margin: 80px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 120px;
}

.loginforms input[type="email"],
.loginforms input[type="password"],
.loginforms input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginforms button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.loginforms button:hover {
  background-color: #45a049;
}

.divHome {
  margin-top: 120px;
}

.carrinhoContainer {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  top: 27px;
  right: 1px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  min-width: 18px;
  text-align: center;
}

.home-container {
  margin-bottom: px;
}

.add-item-form {
  margin-top: 10px;
  margin-left: 40px;
  width: 84%;
}

.catalogo-header {
  text-align: center;
}

.buttonAdd {
  width: 50%;
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.catalogo-list {
  margin-top: 50px;
  padding: 5px;
  font-size: 120%;
  font-weight: bold;
  width: 99%;
}

/* ADICIONANDO AS ALTERAÇÕES DO HEADER*/

.header-home {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-home img {
  width: 40px;
  height: auto;
}

.catalogo-header {
  margin-top: 100px;
  font-size: 2rem;
  font-weight: bold;
  color: #36522e;
  text-align: center;
}

.catalogo-item {
  margin-top: 10px;
  padding: 15px;
}

.catalogo-item-home {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinhando os itens do catálogo */
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 90%;
  margin-left: 20px;
}

.home-container {
  padding-top: 80px; /* Para compensar a altura do header fixo */
}

.carrinhoContainer {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.catalogo-item-home img {
  width: 87px;
  height: 87px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.cart-count {
  position: absolute;
  top: 5px;
  right: 5px;
}
