* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial, sans-serif';
  background-color: #e0f8d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 80px; /* Ajuste conforme a altura do header */
}

.App-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: transparent;
  position: fixed; /* Fixado no topo */
  top: 0;
  left: 0;
}

.container {
  text-align: center;
  width: 100%; /* Garantir que o container ocupe toda a largura disponível */
}

.container h2 {
  padding-bottom: 10px;
}

.carrinhoLogo {
  width: 30px;
  height: auto;
  position: absolute; /* Tornar a posição absoluta */
  top: 20px; /* Ajustar conforme necessário */
  right: 20px; /* Ajustar conforme necessário */
}

.adminLogo {
  width: 50px; /* Tamanho ajustado para dispositivos móveis */
  height: auto;
  position: absolute; /* Tornar a posição absoluta */
  top: 20px; /* Ajustar conforme necessário */
  left: 20px; /* Ajustar conforme necessário */
}

.catalogo {
  width: 100%;
  text-align: left; /* Alinhar o texto à esquerda */
  color: brown;
  margin-top: 120px; /* Espaço para garantir que fique abaixo do header */
  padding: 0 20px; /* Margem para o conteúdo da catálogo */
}

.catalogo h3 {
  margin-left: 10px; /* Adicionar margem para distanciar do lado esquerdo da tela */
}

.catalogo ul {
  list-style-type: none;
  padding-left: 0;
  color: black;
}

.catalogo li {
  padding: 5px 0;
  color: black;
}

button {
  background-color: #4CAF50; /* Verde */
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #45a049;
}

.logo {
  width: 30%;
  height: auto;
  margin: 0 auto 10px; /* Menor margem para melhor ajuste em telas menores */
}

.title {
  font-size: 1.8em; /* Tamanho ajustado para telas menores */
  color: #36522e;
  margin-bottom: 0.3em;
}

.subtitle {
  font-size: 1.3em; /* Tamanho ajustado para telas menores */
  color: #36522e;
  margin-top: 0.3em;
}

.loginforms {
  width: 90%; /* Ajuste a largura para dispositivos móveis */
  max-width: 400px; /* Limite a largura máxima */
  margin: 80px auto; /* Centralize o formulário e ajuste a margem superior */
  padding: 20px;
  background-color: white; /* Fundo branco para contraste */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
  text-align: center;
  margin-top: 120px;
}

.loginforms input[type="email"],
.loginforms input[type="password"],
.loginforms input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.loginforms button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.loginforms button:hover {
  background-color: #45a049;
}
