# Ignorar o arquivo .env que contém as credenciais
.env

# Ignorar o arquivo de configuração do Firebase
firebaseConfig.js

# Ignorar a pasta node_modules
/node_modules

# Ignorar a pasta de build (se houver)
/build

# Ignorar pastas de banco de dados local (caso use algum)
/local-database